*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header{
    width:100%;
}

header nav {
    width: 100%;
    background: #272727;
}

.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float:left;
}

header nav ul li .decoration {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

header nav ul li span {
    margin-right: 15px;
}

header nav ul li a:hover {
    background-color: #E1306C;
    transition: all 0.2s ease;
}

@media screen and (max-width: 852px) {
    header nav {
        width: 80%;
        height: 100%;
        position: absolute;
        left: -100%;
        transition: all 1s ease;
        z-index: 1000;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 5px;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    .menu_bar {
        position: relative;
        display: block;
        width: 100%;
        background: #1d1d1d;
    }

    .menu_bar .btn-menu {
        display: block;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 25px;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    .active {
        transition: all 1s ease;
        left: 0;
    }
}