main .concepto {
    width: 100%;
}

main .concepto .titulo h2 {
    text-align: center;
    font-weight: 400;
    color: #4A235A;
    font-size: 35px;
    padding: 20px;
}

main .concepto article {
    width: 100%;
}

main .concepto article p {
    color: #1f1f1f;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 20px;
}

main .concepto article p span {
    color: #21618C;
    font-weight: 600;
}

main .maltrato {
    width: 100%;
    background-color: #F4F6F7;
}

main .maltrato .titulo h3 {
    text-align: center;
    font-weight: 400;
    color: #4A235A;
    padding-top: 20px;
}

main .maltrato .titulo h3 span {
    color: rgb(197, 0, 0);
    margin-left: 20px;
}

main .maltrato article {
    padding-bottom: 25px;
}

main .maltrato article h4 {
    color: #21618C;
    padding: 15px 0;
}

main .maltrato article p {
    color: #1f1f1f;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    main .concepto .titulo h2 {
        font-size: 30px;

    }

    main .maltrato .titulo h3 {
        font-size: 25px;

    }

    main .maltrato article {
        padding-bottom: 0 40px;
    }
    
}